html {
	height: 100%;
}
body { 
	background-image: url(img/bg0.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", serif; 
	margin-bottom: 180px;
}
#wrapper { 
	background-color: #e4dfcc;
}

.navbar
{
  font-size: 1.35em;
}

.navbar-light .navbar-nav .nav-link {
	color: #e4dfcc;
}

.navbar .navbar-nav > li.nav-item > a{
	color: #e4dfcc;
  }

  .navbar .navbar-nav > li.nav-item > a:hover{
	color: orange;
  }	

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	background: #e54c20;
	border-radius: 3px;
	color: #e4dfcc;
}

h1    { margin-bottom: 0; 
        margin-top: 0;
        font-family: Georgia, "Times New Roman", serif; 
        color: #e54c20;
}

main  { background-color: #e4dfcc;
	padding: 1px 20px 20px 30px;
        display: block;
	overflow: auto;
}

h2    { color: #e54c20; 
        text-shadow: 1px 1px  #CCCCCC;
        font-family: Georgia, "Times New Roman", serif; 
		margin-top: 1em;
}
h3    { color: 013369;
        font-family: Georgia, "Times New Roman", serif; 
		padding: 0.5em;
}
main ul    { list-style-image: url(img/bullet.gif); }
dt    { color: #002171; }

footer { 
        background-color: #013369;
        color:  #e4dfcc;
		font-size: 75%;
        font-style: italic;
	 	padding: 2em;
	 	font-family: Georgia, "Times New Roman", serif;
}
.resort { color: #1976D2;
          font-weight: bold; 
}
#contact { font-size: 90%; }


#homehero { height: 500px;
            background-image: url(img/testin.png);
			background-repeat: no-repeat;
			background-size: 100% 100%; 
			margin-top: 95px;
			object-fit: cover;
}

#prohero { height: 500px;
            background-image: url(img/hw1.png);
			background-repeat: no-repeat;
			background-size: 100% 100%; 
			margin-top: 95px;
}
#achhero { height: 500px;
            background-image: url(img/test2.png);
			background-repeat: no-repeat;
			background-size: 100% 100%; 
			margin-top: 95px;
}

#ideahero { height: 500px;
	background-image: url(img/oz3.JPG);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	margin-top: 95px;
}

#tuohero { height: 500px;
	background-image: url(img/tuo.JPG);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	margin-top: 95px;
}


#conhero { height: 595px;
	background-image: url(img/con1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}


table { border: 2px solid #39C;
        border-collapse: collapse; }
td, th { padding: 0.5em; border: 2px solid #39C; }
td { text-align: center; }
.text { text-align: left; }
tr:nth-of-type(odd) { background-color: #F5FAFC; }
form { display: flex;
       flex-flow: column nowrap; }
input, textarea { margin-bottom: .5em; }
video { float: right; margin: 1em; }

button {
	background-color: #e4dfcc;
	color:#e54c20;
	font-size: 16px;
	font-weight: bold;
	border-radius: 12px;
}

@media (min-width: 576px) {
			section { margin-left: 2em;
					  margin-right: 2em;
                      flex: 1;
			}
			.flow { display: flex;
			        flex-direction: row; }	
			form  { max-width: 30em; width: 80%;
			        display: grid;
				    gap: 1em;
				    grid-template-columns: 6em 1fr;  }
			input[type="submit"] { grid-column: 2 / 3;
                                   width: 9em; }					
}

@media (min-width: 1024px) {
			#wrapper { margin: auto;
			           width: 70%;
			}
			.navbar {
				width: 70%;
				margin: auto;
  			}	

}








